
namespace secrets {
    const char* SSID = "your_wifi_ssid";
    const char* PASSWORD = "your_wifi_password";
    const char* NTRIP_HOST = "ntrip.example.com";
    const uint16_t NTRIP_PORT = 2101;
    const char* NTRIP_MOUNTPOINT = "MOUNTPOINT";
    const char* NTRIP_USERNAME = "username";
    const char* NTRIP_PASSWORD = "password";
}